/* 1st nav */

* {box-sizing: border-box;}

body {
    font-family: 'Josefin Sans', sans-serif;

}


/* nav */


body { 
  margin: 0;
  font-family: 'Rubik', sans-serif;
}


 /* pic text */
  
  .img1 {
    float: right;
  }
  
  .clearfix {
    max-width: 1300px;
    /* overflow: auto; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    
  }
  
  .img2 {
    float: left;
  }



/* responsive */
.responsive {
    width: 100%;
    height: 32%;
  }


  /* text */

  div.a {
    max-width: 1300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
  }
  
  div.b {
    text-align: left;
  }
  
  div.c {
    text-align: right;
  } 
  
  div.d {
    text-align: justify;
  } 

